@font-face {
    font-family: Roboto-Regular;
    src: url(./font/Roboto-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    font-family: Roboto-Regular;
}

header {
    background-color: #ffc700;
    width: 100%;
}
footer {
    background-color: #ffc700;
}
nav {
    justify-content: space-between ;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration:underline ;
 
}
button {
    border: #000 2px solid;
    border-radius: 30px;
    background-color: transparent;
    min-width: 75px;
    font-size: .875rem;
    font-weight: 700;
    padding: 10px 20px 9px;
    line-height: .9;
    transform: background-color .3s linear, color .3s linear;
}
button:hover {
    background-color: #000;
    color: #fff;
}

#H-Img-Cont {
    height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
}
#H-SS {
    appearance: none;
    background-color: transparent;
    background-image: url(./svg/arrow-down.svg);
    background-position-x: calc(100% - 15px);
    background-position-y: 55%;
    background-repeat: no-repeat;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: .875rem;
    font-weight: 700;
    padding: 10px 40px 9px 20px;
    cursor: pointer;
}

.a-r {
    animation: rotate 10s linear 0s infinite;
    transform-origin: center center;
}
.badge .hand {
    transition: transform .3s ease,-webkit-transform .3s ease;
}
:not(svg) {
    transform-origin: 0px 0px;

}
.svg-cutout {
    stroke: #000;
    stroke-width: 8;
    height: 400px;
    width: 400px;
}

.box-col {
    background-color: rgb(189, 195, 196);
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform:rotate(1turn);
    }
}