@font-face {
    font-family: Roboto-Regular;
    src: url(./font/Roboto-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    font-family: Roboto-Regular;
    
}
header {
    background-color: #ffc700;
    width: 100%;
}
footer {
    background-color: #ffc700;
}
nav {
    justify-content: space-between ;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}
button {
    border: #000 2px solid;
    border-radius: 30px;
    background-color: transparent;
    min-width: 75px;
    font-size: .875rem;
    font-weight: 700;
    padding: 10px 20px 9px;
    line-height: .9;
    transform: background-color .3s linear, color .3s linear;
}
button:hover {
    background-color: #000;
    color: #fff;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}